body{
	margin: 0;
	padding: 0;
	font-family: arial;
	background-color: white;
}
.container{
	margin-left: 0;
	text-align: center;
}
.box_form{
	width: 500px;
	height: 380px;
	margin-top: 100px;
	display:inline-block;
	box-shadow: 0  0 5px 2px black;
	border-radius: 15px;
}
.img_box{
	width: 250px;
	height: 380px;
	float: left;
}
img{
	box-shadow: 0  0 5px 1px black;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px; 
}
.body_box{
	background-color: white;
	width: 250px;
	height: 380px;
	float: right;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.tittle_box{
	padding-left: 34px;
	padding-top: 30px;
	width: 276px;
	height: 30px;
	text-align: left;
	font-size: 20px;
}
.form_box{
	width: 250px;
	height: 320px;
}
form input{
	width: 180px;
	background:none;
	border:none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 30px;
}
form input::placeholder{
	color: black;
	font-family: arial;
	font-size: 14px;
}
input[type="text"]:focus{
	outline: none;
}
input[type="date"]:focus{
	outline: none;
}
input[type="email"]:focus{
	outline: none;
}
input[type="phone"]:focus{
	outline: none;
}
button{
	margin-top: 40px;
	width: 100px;
	height: 30px;
	background-color: black;
	border-radius: 20px;
	color: #fff;
}